@import url('https://fonts.googleapis.com/css2?family=Karla');

/* The body class targets the <body> tag in your html file */
body {
    background-color: rgba(251, 237, 250, 1);
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 40px;
    background-color: rgba(206, 187, 204, 1);
    color: #ffffff;
    font-size: 16px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
    width: 100%;

}

.menu-item {
    width: 33.33%;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.home {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content {
    padding: 40px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100px;
}

.technical {
    background-color: rgba(246, 223, 239, 1);
    height: 400px;
    padding: 0px;
}

.bio {
    height: 300px;
}

.introduction {
    background-color: rgb(229, 207, 224, 1);
    padding: 0px;
}
.contact{
    background-color: rgba(251, 237, 250, 1)
}