@import url('https://fonts.googleapis.com/css2?family=Karla');

/* The body class targets the <body> tag in your html file */
body {
    background-color: rgba(251, 237, 250, 1);
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 40px;
    background-color: rgba(206, 187, 204, 1);
    color: #ffffff;
    font-size: 16px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
    width: 100%;

}

.menu-item {
    width: 33.33%;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    padding: 40px;
}